 {% if categories %}
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <p class="card-text">{{ category.description }}</p>
                    <a href="{% url 'products:category_detail_view' category.id %}" class="btn btn-dark">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-muted">No categories available.</p>
    {% endif %}