{% extends 'main/base.html' %}

{% block title %}Update Category - Stocker{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-warning text-center mb-4">Update Category</h1>

    <form method="POST">
        {% csrf_token %}
        
        <div class="form-group mb-3">
            <label for="name">Category Name</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ category.name }}" required>
        </div>

        <div class="form-group mb-3">
            <label for="description">Category Description</label>
            <textarea id="description" name="description" class="form-control" rows="4">{{ category.description }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3">Update Category</button>
    </form>
</div>
{% endblock %}
